<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Backbone</title>
    <!-- === Styles Twitter Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <style>
    .slack {
      background-color: #563A59;
    }
    </style>
  </head>
  <body>
    <div class="container-fluid">
     <div class="row">
       <div class="col-sm-12 main">
         <h1 class="page-header">Dashboard</h1>
         <script type="text/template" id="articles-collection-template" >
          <% _.each(articles, function (article) { %>
            <h1><%= article.id %></h1>
            <h6><%= article.title %></h6>
            <p><%= article.description %></p>
          <% }); %>
          </script>
          <!-- les données seront affichées ici -->
          <div id="articles-collection-container" ></div>
       </div>
     </div>
   </div>
  </body>
  <!-- === Références aux Frameworks === -->
  <script src="js/jquery.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- === ici votre code applicatif === -->
  <script>
    window.App = {
      Models: {},
      Collections: {},
      Views: {}
    };

    App.Models.Article = Backbone.Model.extend({
      defaults: {
          "id": "0",
          "title": "Titre par défaut",
          "description": "ma description"
      },

      initialize: function() {
        console.log('Here init Article model');
      }
    });

    App.Collections.Article = Backbone.Collection.extend({
      model : App.Models.Article,
      initialize : function () {
        console.log("Création d’une collection d’articles");
      }
    });

    App.Views.Article = Backbone.View.extend({
        el: $("#articles-collection-container"),

        initialize: function () {
          this.template = _.template($("#articles-collection-template").html());
        },

        render: function () {
          var renderedContent = this.template({ articles : this.collection.toJSON() });
          $(this.el).html(renderedContent);
        }

    });

    var articleCollection = new App.Collections.Article;
    articleCollection.add( new App.Models.Article({ id:15, title:"Title 1" }) );
    articleCollection.add( new App.Models.Article({ id:14, title:"Title 2" }) );
    articleCollection.add( new App.Models.Article({ id:16, title:"Title 3" }) );

    articleView = new App.Views.Article({ collection: articleCollection });
    articleView.render();
    // Models / Collections / Views are available in console
    // try type App.Models

  </script>
</html>
